<div class="header">
    <div class="header__logo">
        <a href = "/home/getCategories"><img src="../../images/logo.png" alt="Logo"></a>
    </div>
    <div class="header__category"><%= currentCategory.name %></div>
    <div class="header__cart-search">
        <div class = "shoppingCartIcon">
            <a href = "/cart/getAll">
                <img  src="../../images/shopingcart.png" alt="Shopping Cart">
            </a>
            <% if(itemQuantity != 0 && itemQuantity != null) { %>
                <div class ="totalQuantityBubble"><%= itemQuantity %></div>
            <% } %>
        </div>
        <div class = "searchIcon">
            <img src="../../images/search.png" alt="Search Icon">
        </div>
    </div>
</div>