<div class="header">
    <div class="header__logo">
        <a href = "/home/getCategories"><img src="../images/logo.png" alt="Logo"></a>
    </div>
    <div class="header__category"></div>
    <div class="header__cart-search">
        <div class = "shoppingCartIcon">
            <a href = "/cart">
                <img  src="../images/shopingcart.png" alt="Shopping Cart">
            </a>
            <div class = "totalQuantityBubble"></div>
        </div>
        <div class = "searchIcon">
            <img src="../images/search.png" alt="Search Icon">
        </div>
    </div>
</div>