html {
    min-width: 720px;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
}


body {
	background-color: #f2f2f2;
}


h1, h2, h3, h4, h5, h6 {
	color: #333;
}


h1 {
	font-weight: bold;
	margin: 20px;
}


h2 {
	font-size: 24px;
	margin: 10px;
}

h3 {
	font-size: 18px;
	margin: 10px;
}


h4 {
	font-size: 16px;
	margin: 10px;
}

p {
	font-size: 16px;
	margin: 10px;
}


ul {
	font-size: 25px;
	margin: 10px;
	padding: 0;
	list-style-type: none;
}

ul a{
    color: black;
    text-decoration: none;
    position: relative;
}

ul a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

ul a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}


li {
	margin: 5px 0;
	padding: 0;
}

.selected{
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    height: 100vh;

}


.header {
	grid-column: 1 / span 10;
    grid-row: 1 / 2;
    justify-content: space-between;
    align-items: center;
    color: white;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}


.header__logo {
	grid-row: 1 / 2;
    display: inline;
    width: 8vw;
    height: 10vh;
    grid-column: 1;
	margin-right: 25px;
}

.header__logo img {
    object-fit: fill;
    width: 8vw;
    height: 10vh;
    object-fit: contain;
}


.header__category {
    grid-column: 2 / span 8;
    grid-row: 1 / 2;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    display: inline-block;
    background-color: #8c1010;
    height: 10vh;
    padding-top: 25px;
    border-style: solid;
    border-color: red;
    border-width: 5px;
}


.header__cart-search {
    grid-column: 10;
    grid-row: 1 / 2;
    padding-left: 10%;
    margin-left: 20px;
    height: 10vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    border-style: dashed;
    border-color: black;
    border-width: 5px;
}

.shoppingCartIcon{
	display: inline-block;
    grid-column: 1;
    grid-row: auto;
    padding-top: 30%;
    position: relative;
    width: fit-content;
    height: fit-content;
}

.shoppingCartIcon img{
    height: 60px;
    width: 75.75px;
    margin-right: 5%;
}
.searchIcon{
	display: inline-block;
    grid-column: 2;
    grid-row: auto;
    padding-top: 30%;
    width: fit-content;
    height: fit-content;
}

.searchIcon img {
    height: 60px;
    width: 75.75px;
}


.navigation {
    grid-column: 1 / 2;
    grid-row: 2 / span 5;
    background-color: #ddd;
    padding-top: 25%;
    width: max-content;
    padding-bottom: 25%;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}


.navigation ul {
    margin: 0;
    margin-right: 20px;
    margin-left: 20px;

}


.navigation li {
	margin: 5px 0;
	padding: 0;
    cursor: pointer;
}

#welcomingMessage {
    z-index: 1;
    height: auto;
    position: absolute;
    display: flex;
    border-style: solid;
    border-color: blueviolet;
    border-width: 3px;
    margin: 20px;
}

#welcomingMessage h1 {
    color: blueviolet;
}

.storefront {
    grid-column: 2 / span 9;
    grid-row: 2 / span 4;
    background-color: #fff;
    display: flex;
}

.list {
	grid-column: 2 / span 9;
    grid-row: 6 / span 5;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-style: groove;
    border-width: 5px;
    height: fit-content;
}


.list__item {
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    margin-left: calc(5% + 10px);
    margin-right: calc(5% - 10px);
    width: 180px;
    height: 300px;
}

.list__item div {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.info {
    box-sizing: border-box;
    grid-column: 1 / 2;
    grid-row: 10;
    text-align: center;
}


.header__cart-search img {
	margin: 0 5px;
	cursor: pointer;
}


.storefront img {
    max-width: 100%;
    height: auto;
	width: 100%;
    object-fit: fill;
}

.list__item img {
    display: block;
    padding-bottom: 15px;
    width: 150px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.list__item .cart {
    display: none;
    position: absolute;
    bottom: 28%;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('/images/shopingcart.png');
    background-repeat: round;
    color: #fff;
    padding: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}

.list__item div:hover .cart{
    display: block;
}

.list__item .quantityBubble {
    display: none;
    position: absolute;
    bottom: 28%;
    left: 80%;
    transform: translateX(-50%);
    background-color: red;
    color: #fff;
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
}


.totalQuantityBubble {
    display: none;
    position: absolute;
    bottom: 28%;
    left: 80%;
    transform: translateX(-50%);
    background-color: red;
    color: #fff;
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
}

@media screen and (max-width: 1024px) {
	.grid {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto repeat(2, 1fr) auto;
		grid-gap: 5px;
		padding: 10px;
	}

	.header__selected-category,
	.header__cart-search {
		grid-column: 1 / -1;
	}

	.header__selected-category,
	.header__cart-search img {
		/*margin: 13px;*/
        display: flex;
        object-fit: contain;
        width: 55px;
        height: 40px;
	}

	.nav {
		grid-column: 1 / -1;
		grid-row: 3 / span 2;
		margin-top: 10px;
	}

	.list {
		grid-column: 1 / -1;
		grid-row: 4 / span 2;
		padding: 5px;
	}

	.list__item {
		flex-basis: calc(50% - 5px);
	}
}


@media (max-width: 1024px) {

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .header {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
    }
  

    .header__logo {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        width: 100%;
        height: 5vh;
        margin-bottom: calc(5% + 35px);
    }
  
    .header__logo img {
        object-fit: fill;
        width: auto;
        height: 10vh;
    }

    .header__category {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        height: auto;
        display: inline-block;
        height: 5vh;
        width: 60vw;
        margin-right: 20px;
        padding-top: 15px;
        font-size: 30px;
    }
  

    .header__cart-search {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin-left: 0;
        padding-left: 0;
        text-align: center;
        display: inline-block;
        height: 5vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .header__cart-search > div {
        padding-top: 0%;
        margin-left: calc(10% + 10px);
    }
  

    .navigation {
        grid-column: 1 / 2;
        grid-row: 8;
        height: auto;
        width: fit-content;
    }
  
    .navigation ul {
        font-size: 25px;
        padding-right: 20px;
    }

    .storefront {
        grid-column: 1 / 11;
        grid-row: 2 / span 6;
    }

    .list {
        grid-column: 2 / 11;
        grid-row: 8 / span 8;
        height: auto;
        width: auto;
    }
  
    .list__item {
        flex-basis: calc(50% - 10px);
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;
    }
  
    .info {
        grid-column: 1 / 2;
        height: auto;
        width: 30vw;
        grid-row: 14;
    }
} 
