* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
}

body {
	background-color: #f2f2f2;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
}

h1 {
	font-weight: bold;
	margin: 20px;
}

h2 {
	font-size: 24px;
	margin: 10px;
}

h3 {
	font-size: 18px;
	margin: 10px;
}

h4 {
	font-size: 16px;
	margin: 10px;
}

p {
	font-size: 16px;
	margin: 10px;
}

ul {
	font-size: 25px;
	margin: 10px;
	padding: 0;
	list-style-type: none;
}

li {
	margin: 5px 0;
	padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 10px;
    padding: 10px;
    background-color: #f2f2f2;
}

.header {
	grid-column: 1 / span 10;
    grid-row: 1 / 2;
    justify-content: space-between;
    align-items: center;
    color: white;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.header__logo {
	grid-row: 1 / 2;
    display: inline;
    width: 8vw;
    height: 10vh;
    grid-column: 1;
	margin-right: 25px;
}

.header__logo img {
    object-fit: fill;
    width: 8vw;
    height: 10vh;
    object-fit: contain;
}

.header__category {
    grid-column: 2 / span 8;
    grid-row: 1 / 2;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    display: inline-block;
    background-color: #8c1010;
    height: 10vh;
    padding-top: 25px;
    border-style: solid;
    border-color: red;
    border-width: 5px;
}

.header__cart-search {
    grid-column: 10;
    grid-row: 1 / 2;
    padding-left: 10%;
    margin-left: 20px;
    height: 10vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    border-style: dashed;
    border-color: black;
    border-width: 5px;
}

.shoppingCartIcon{
	display: inline-block;
    position: relative;
    grid-column: 1;
    grid-row: auto;
    padding-top: 30%;
}

.shoppingCartIcon img{
    height: 60px;
    width: 75.75px;
    margin-right: 5%;
}

.totalQuantityBubble {
    display: block;
    position: absolute;
    bottom: 28%;
    left: 80%;
    transform: translateX(-50%);
    background-color: red;
    color: #fff;
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
}

.searchIcon{
	display: inline-block;
    grid-column: 2;
    grid-row: auto;
    padding-top: 30%;
}

.searchIcon img {
    height: 60px;
    width: 75.75px;
}

.header__cart-search img {
	margin: 0 5px;
	cursor: pointer;
}

.cart {
    grid-column: 1 / span 10;
    background-color: whitesmoke;
    grid-row: 2 / span 9;
    border-style: outset;
    border-color: black;
    border-width: 10px;
}

.cart h1 {
    text-align: center;
    font-size: 40px;
}

.cartOverview {
    margin: 0 20%;
    border-style: double;
    border-width: 10px;
}

.tableOfItems {
    table-layout: auto;
    width: 100%;
}

.tableOfItems thead tr th {
    text-align: left;
    font-size: 30px;
}

.tableOfItems tbody td{
    padding: 30px 0px;
    font-size: 20px;
}

.tableOfItems tbody td:nth-child(2){
    padding: 30px 0px;
    font-size: 20px;
    text-align: center;
}

.tableOfItems tbody td:nth-child(2) span:nth-child(2){
    padding-left: 10px;
    padding-right: 10px;
}

#name {
    text-align: left;
    font-size: 30px;
}

#quantity {
    text-align: center;
}

.button {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #d43131;
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
	.grid {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto repeat(2, 1fr) auto;
		grid-gap: 5px;
		padding: 10px;
	}

	.header__selected-category,
	.header__cart-search {
		grid-column: 1 / -1;
	}

	.header__selected-category,
	.header__cart-search img {
		margin: 13px;
        display: flex;
        object-fit: contain;
        width: 55px;
        height: 40px;
	}
}

@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .header {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
    }
  
    .header__logo {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        width: 100%;
        height: 5vh;
        margin-bottom: 100px;
    }
  
    .header__logo img {
        object-fit: fill;
        width: auto;
        height: 10vh;
    }

    .header__category {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        height: auto;
        display: inline-block;
        height: 5vh;
        width: 60vw;
        margin-right: 20px;
        padding-top: 15px;
    }
  
    .header__cart-search {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin-left: 0;
        padding-left: 0;
        text-align: center;
        display: inline-block;
        height: 5vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .header__cart-search > div {
        padding-top: 0%;
    }
}